SUPABASE_PROJECT_ID=replace-with-project-id
SUPABASE_PUBLISHABLE_KEY=replace-with-publishable-key
SUPABASE_URL=replace-with-supabase-url
VITE_SUPABASE_PROJECT_ID=replace-with-project-id
VITE_SUPABASE_PUBLISHABLE_KEY=replace-with-publishable-key
VITE_SUPABASE_URL=replace-with-supabase-url
VITE_GMAIL_USER=replace-with-gmail-user
VITE_GMAIL_PASS=replace-with-gmail-app-password
SUPABASE_AUTH_EXTERNAL_GOOGLE_SECRET=replace-with-google-oauth-client-secret
